[user]
	name = yuyo1984
	email = yuyoyanase0909@gmail.com
[core]
	excludesfile = /Users/yuyoyanase/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/yuyoyanase/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/yuyoyanase/.stCommitMsg
[color]
	ui = auto
